[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
cma = "*"
matplotlib = "*"
tensorflow = "==1.12.3"
rpyc = "==3.3.0"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.5"
